<!-- views/profile.ejs -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %>'s Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <h1><%= user.name %>'s Profile</h1>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Mobile: <%= user.mobile %></p>
    <p>Date of Birth: <%= user.dob %></p>
    <img src="<%= user.userDp %>" alt="Profile Picture">
    
    <h2>Liked Photos</h2>
    <ul>
        <% user.likePhotoIds.forEach(photo => { %>
            <li><%= photo.name %> - <%= photo.url %></li>
        <% }); %>
    </ul>

    <h2>Liked Videos</h2>
    <ul>
        <% user.likeVideoIds.forEach(video => { %>
            <li><%= video.name %> - <%= video.url %></li>
        <% }); %>
    </ul>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <body>
    <div class="container">
      <div class="avatar">
        <img src="<%= user.userDp %>">
      </div>
      <div class="username">
        <h3><%= user.name %></h3>
      </div>
      <div class="button" data-target="#home">
        <div class="button__icon">
          <i class="fa-solid fa-house"></i>
        </div>
        <div class="button__text">Home</div>
      </div>
      <div class="button" data-target="#contact">
        <div class="button__icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="button__text">Contact</div>
      </div>
      <div class="button" data-target="#about">
        <div class="button__icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="button__text">About</div>
      </div>
      <div class="button" data-target="#education">
        <div class="button__icon">
          <i class="fa-solid fa-user-graduate"></i>
        </div>
        <div class="button__text">Education</div>
      </div>
      <a href="/logout" class="button">Log Out</a>
    </div>
    <div class="page" id="home">
      <div class="page__header">
        <div class="page__title">Home</div>
        <div class="page__close">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="page__body">
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
      </div>
    </div>
    <div class="page" id="contact">
      <div class="page__header">
        <div class="page__title">Contact</div>
        <div class="page__close">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="page__body">
        <h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime,
          explicabo?
        </h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
      </div>
    </div>
    <div class="page" id="about">
      <div class="page__header">
        <div class="page__title">About</div>
        <div class="page__close">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="page__body">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fuga
          molestiae, nihil iste debitis nemo laborum aut aliquid! Quod veritatis
          dolorem suscipit? Maxime tempore inventore molestias eligendi animi
          quo at provident vitae nobis, distinctio, molestiae quis accusamus
          accusantium ullam officia quaerat illo iste! Pariatur provident odit
          iusto ipsum, natus tenetur alias asperiores temporibus tempora eaque
          maxime, consectetur similique quasi totam perspiciatis. Architecto
          dolores facilis quo itaque amet dolore deleniti debitis ab nesciunt
          doloremque facere nemo sapiente velit expedita consequuntur
          blanditiis, officia deserunt aperiam sit explicabo numquam omnis. Quod
          ut unde alias odio, excepturi, deserunt reprehenderit ipsa at,
          incidunt cumque ipsam consequuntur est! Ipsam itaque unde cupiditate
          dolorem exercitationem beatae? Eum voluptas ipsam sunt cumque
          repellendus aperiam sequi reiciendis eos quaerat.
        </p>
      </div>
    </div>
    <div class="page" id="education">
      <div class="page__header">
        <div class="page__title">Education</div>
        <div class="page__close">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="page__body">
        <h4>Lorem ipsum dolor sit amet consectetur.</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
        <h4>Lorem ipsum dolor sit.</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos optio
          laboriosam, saepe nulla laborum aperiam nemo sed iure beatae error
          labore! Mollitia, aperiam adipisci sapiente aliquid non dignissimos
          enim commodi?
        </p>
        <h4>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam dolorum
          officia quasi!
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi eius
          velit animi blanditiis? Suscipit voluptatibus aliquam quasi eveniet
          facilis laudantium dolor corporis accusamus sint et possimus odio esse
          iste numquam magnam, veniam, nulla voluptates, architecto molestiae
          debitis rem consequatur ut earum porro? Incidunt necessitatibus esse
          aperiam cumque architecto molestiae modi.
        </p>
      </div>
    </div>

    <script src="/javascripts/profile.js"></script>
  </body>
</html>
